<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <style>
        body {
            font-size: 40px;
        }

    </style>
</head>
<body>

    <h1>Admin</h1>

    <div class="menu">
        <ul>
            <li><a href="/manage_staff" style="font-size: 40px;">Staff Directory</a></li>
            <li><a href="/orgs" style="font-size: 40px;">View Organizations</a></li>
            <li><a href="/view_statistics" style="font-size: 40px;">View Statistics</a></li>
            <li><a href="/" style="font-size: 40px;">Back to role selection</a></li>

        </ul>
    </div>

    

</body>
</html>
