<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
</head>
<body>

    <h1 style="font-size: 40px;">Main Menu</h1>

    <div class="menu">
        <ul>
            <li><a href="/adopter" style="font-size: 40px;">Adopter</a></li>
            <li><a href="/staff" style="font-size:40px;">Staff Member</a></li>
            <li><a href="/vet" style="font-size: 40px;">Vet</a></li>
            <li><a href="/admin_portal" style="font-size:40px;">Admin</a></li>
        </ul>
    </div>

</body>
</html>
