<!DOCTYPE html>
<html>
<head>
    <title>Application Review</title>
    <style>
        body {
            font-size: 40px;
        }
        input, button {
            font-size: 35px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <h1>Application Details (Staff View)</h1>
    {% if app %}
        <p><strong>Application ID:</strong>{{ app[0] }}</p>
        <p><strong>Adopter Name:</strong> {{ app[1] }}</p>
        <p><strong>Staff Assigned:</strong> {{ app[2] }}</p>

        {% if pet %}
            <p><strong>Pet Name: </strong>{{ pet[1] }}</p>
        {% endif %}
        <p><strong>Pet ID: </strong>{{ app[3] }}</p>
        <p><strong>Status: </strong>{{ app[4] }}</p>
        <p><strong>Reasoning: </strong>{{ app[5] }}</p>
        <p><strong>Has Existing Pets: </strong>{{ app[6] }}</p>
        <p><strong>Staff Note: </strong>{{ app[7] }}</p>
        <p><strong>Decision Date: </strong>{{ app[8] }}</p>
        
        {% if app[4] == "Under Review" %}
            <h2>Decision: </h2>
            <form action="/update_app" method="POST">
                <input type="hidden" name="app_id" value="{{ app[0] }}">
            
                <p>
                    <label>Decision Date: </label>
                    <input type="text" name="decision_date" placeholder="YYYY-MM-DD">
                </p>
            
                <p>
                    <label>Staff Note:</label><br>
                    <textarea name="staff_notes" rows="4" cols="50" style="font-size: 30px;">{{ app[7] }}</textarea>
                </p>
            
                <button type="submit" name="result" value="Approve" style="background-color: lightgreen;">
                    Approve
                </button>
            
                <button type="submit" name="result" value="Deny" style="background-color: lightcoral;">
                    Deny
                </button>
            
            </form>
        {% endif %}
        
        
    {% else %}
        <p>Application not found.</p>
    {% endif %}

    <br>
    <a href="/staff/{{ app[2] }}">← Back to Staff Page</a>


</body>

</html>