<!DOCTYPE html>
<html>
<head>
    <title>Medical Record Details</title>
    <style>
        body {
            font-size: 40px;
        }
        input {
            font-size: 35px;
            padding: 10px;
            width: 80%;
        }
        button {
            font-size: 40px;
            padding: 15px 30px;
        }
    </style>
</head>
<body>
    <h1>Medical Record Details</h1>

    {% if record %}
        <p><strong>Record ID:</strong>{{ record[0] }}</p>
        <p><strong>Pet ID:</strong>{{ record[1] }}</p>
        <p><strong>Checkup Date:</strong>{{ record[3] }}</p>
        <p><strong>treatment:</strong>{{ record[4] }}</p>
        <p><strong>Vaccination Status:</strong>{{ record[5] }}</p>
        <p><strong>Next Appointment:</strong>{{ record[6] }}</p>
    {% else %}
        <p>No medical record found.</p>
    {% endif %}

    <hr>

    <h2>Update Medical Record</h2>
    <form action="/update_mr" method="POST">
        <input type="hidden" name="record_id" value="{{ record[0] }}">

        <p>
            <label>Checkup Date(today's date): </label>
            <input type="text" name="checkup_date" placeholder="YYYY-MM-DD">
        </p>
        <p>
            <label>Today's treatment: </label>
            <input type="text" name="treatment" placeholder="Enter treatment">
        </p>
        {% if record[5].lower() != "vaccinated" %}
        <p>
            <label>Vaccination Status: </label>
            <input type="text" name="vaccination_status" placeholder="Vaccinated / Not Vaccinated">
        </p>
        {% else %}
        <p><strong>This pet is already vaccinated.</strong></p>
        <input type="hidden" name="vaccination_status" value="{{ record[5] }}">
        {% endif %}
        <p>
            <label>Next appointment Date: </label>
            <input type="text" name="next_appointment" placeholder="YYYY-MM-DD">
        </p>

        <button type="submit">Update Record</button>
    </form>

    <br><br>
    <a href="/vet/{{ record[2] }}">← Back to Vet Profile</a>
</body>

</html>