<!DOCTYPE html>
<html>
<head>
    <title>Staff Profile</title>
    <style>
        body {
            font-size: 40px;
        }

        .button {
            font-size: 40px;
            padding: 15px 30px;
        }
    </style>
</head>

<body>
    <h1>Staff Profile</h1>

    {% if staff %}
        <p><strong>Staff ID:</strong> {{ staff[0] }}</p>
        <p><strong>Name:</strong> {{ staff[2] }}</p>
        <p><strong>Role:</strong> {{ staff[3] }}</p>
        <p><strong>Organization:</strong> {{ org_name }}</p>
        <p><strong>Tel:</strong> {{ staff[4] }}</p>
        <p><strong>Email:</strong> {{ staff[5] }}</p>

        <h2>Applications Processed</h2>
        {% if apps %}
        <ul>
            {% for a in apps %}
                <li>
                    <a href="/staff_app/{{ a[0] }}">{{ a[0] }} </a>
                    -- Status: {{ a[1] }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No applications processed yet.</p>
        {% endif %}

    {% else %}
        <p>Staff not found.</p>
    {% endif %}

    <br><br>
    <a href="/staff">← Back to Staff portal</a>
</body>
</html>